.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Apps {
  padding: 12px;
  border: 7px solid #ccc;
  border-radius: 4px;
  width: 361px;
  margin: 20px auto;
  text-align: center;
}

#table_data {
  width: 100%;
}

#table_data table {
  width: 100%;
}

#table_data td {
    border: 1px solid #ccc;
    width: 50%;
}

#table_data th {
    width: 50%;
    padding: 6px;
    border: 13px solid #ccc;
    border-radius: -15px;
    width: 879px;
    margin: 34px auto;
    text-align: center;
}

.card-title, .card-text, .btn-primary {
  text-align: center;
}

body{
  background-color: rgb(95, 107, 160);
}

.btn-space {
  margin-right: 11px;
}
/* body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);} */

.card {
  border-radius: 1.25rem; 
}

svg.V3C5bO.btn-spc {
    margin-right: 5px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


.card {
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px
}

.like {
  color: #757575;
  font-weight: bold;
  background-color: #EEEEEE;
  padding: 7px;
  border-radius: 50%
}

.like-checked {
  color: #E53935
}

.like:hover {
  color: #E53935;
  cursor: pointer
}

.pic1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.product-pic {
  padding-left: auto;
  padding-right: auto;
  width: 100%
}

.card-1 {
  padding: 8px ​8px 30px 10px !important;
  border: none;
  width: 700px
}

.category {
  padding-top: 25px;
  color: grey
}

.product-name {
  padding-bottom: 1px;
  font-family: Florence;
  font-weight: bold
}

.price {
  font-size: 18px
}

.sm-text {
  font-size: 14px
}

.fa-star {
  color: #FF6F00;
  cursor: pointer
}

.fa-star-o {
  color: #FF6F00;
  cursor: pointer
}


.card.hvimg:hover img {
  -webkit-transform: scale(1.3) !important;
      transform: scale(1.3) !important;
      overflow: hidden;
    }

.hvimg1 {
    width: 100%;
    height: 230px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out !important;
}

.card.hvimg {
  overflow: hidden;
}

.hvimg > a {
  height: 230px;
  display: block;
  overflow: hidden;
}

div#carouselExampleIndicators {
  padding: 0 10px;
  margin-top: 10px;
}



.aa-products-tab  {
  display: block;
  text-align: center;
  border: none;
  color: white;
  margin-bottom: -18px;
  margin-top: 16px;
  font-weight: bold;
}

.aa-products-tab li.active a {
    border: none;
    background-color: inherit;
    font-size: 16px;
}
.aa-products-tab li.active a {
    border-bottom: 1px solid #ff6666 !important;
}

.overlay .mask {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.view .mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-nav .sidenav-bg, .view .mask {
  background-attachment: fixed;
  bottom: 0;
}

.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
.quantity {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .minus-btn img {
  margin-bottom: 3px;
}